.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  color: var(--forecast-text-color);
}

.forecast-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.forecast-logo-container {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  color: var(--forecast-text-color);
}

.forecast-logo {
  width: 1.5rem;
}

#forecast-form {
  grid-column: span 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  height: 2rem;
  position: relative;
  display: flex;
}

.forecast-user-message {
  position: absolute;
  display: flex;
  gap: 1rem;
  font-style: italic;
  top: calc(100% + 0.5rem);
}

.forecast-user-message svg {
  width: 1.5rem;
}

#refresh-btn {
  margin-left: auto;
  width: 2rem;
  aspect-ratio: 1;
  padding: 0;
  background: none;
  border: none;
  color: var(--forecast-text-color);
}

.forecast-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: var(--forecast-dashboard-gap);
  height: clamp(600px, 80%, 700px);
}

.forecast-dashboard * {
  font-size: 0.9rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--forecast-dashboard-gap);
}

.aq-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  max-width: min-content;
}

.aq-label {
  color: var(--forecast-text-color);
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-wrap: nowrap;
}

.aq-status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.aq-status-container svg {
  width: 3rem;
}

.aq-status {
  font-weight: 700;
  text-align: center;
}

.aq-1 {
  color: hsl(100, 100%, 43%);
}

.aq-2 {
  color: hsl(70, 100%, 43%);
}

.aq-3 {
  color: hsl(39, 100%, 43%);
}

.aq-4 {
  color: hsl(15, 100%, 43%);
}

.aq-5 {
  color: hsl(288, 100%, 43%);
}

.aq-6 {
  color: hsl(0, 100%, 32%);
}

.feels-like-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.temp-bar {
  position: relative;
  width: 0.3rem;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, #FD6757, #5794FD);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.temp-thumb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0.4rem;
  width: 1.5rem;
  border: 1px solid var(--forecast-text-color);
  border-radius: 10px;
  background: #D9D9D9;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.feels-like-temp {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.feels-like-temp::after {
  content: '°';
}

.feels-like-label {
  font-weight: 600;
}

.mid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  aspect-ratio: 4/5;
  overflow: hidden;
}

.main-card {
  padding: 1rem 1rem 0.5rem;
  background: var(--main-card-background);
  border: 1px solid var(--main-card-stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  color: white;
}

.main-card-header {
  display: flex;
  justify-content: space-between;
}

.location-name {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.location-region-and-country {
  text-align: center;
}

.temp-today {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.temp-today::after {
  content: '°C';
  position: absolute;
  top: 1rem;
  font-size: 2rem;
}

.temp-high-low {
  margin-top: -0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.condition-container {
  display: flex;
  align-items: end;
  height: 100%;
}

.condition-text {
  display: flex;
  padding-left: 1rem;
  flex: 3;
  font-size: 1.5rem;
  font-weight: 500;
}

.condition-icon {
  flex: 2;
}

.hourly-forecast-container {
  display: flex;
  margin-top: 1.5rem;
  height: 30%;
  overflow: auto;
}

.hourly-forecast-container::-webkit-scrollbar {
  height: 0.5rem;
}

/* Track */
.hourly-forecast-container::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.hourly-forecast-container:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
.hourly-forecast-container::-webkit-scrollbar-thumb:hover {
  background: white;
}

.hourly-forecast {
  min-height: 100%;
  min-width: 20%;
  text-align: center;
}

.hourly-temp {
  font-size: 1.2rem;
  font-weight: 500;
}

.hourly-temp::after {
  content: '°';
}

.hourly-time {
  font-weight: 500;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: var(--forecast-dashboard-gap);
  height: 100%;
  aspect-ratio: 1;
  color: var(--forecast-text-color);
}

.daily-forecast-container {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.daily-forecast-label {
  grid-column: 1 / span 5;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.daily-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 0.3rem;
}

.daily-label {
  font-weight: 500;
}

.daily-condition-icon {
  width: 3rem;
}

.daily-condition-text {
  text-align: center;
}

.extra-info-container {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--forecast-dashboard-gap);
}

.extra-info-card {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: nowrap;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  padding: 1rem;
}

.extra-info-text {
  flex: 1;
  font-weight: 600;
}

.extra-info-value {
  font-weight: 500;
  font-size: 1.6rem;
}

.extra-info-value::after {
  content: attr(data-after);
  bottom: 0.5rem;
  font-size: 0.9rem;
}

.extra-info-icon {
  flex: 2;
}

.extra-info-2-container {
  flex: 2;
  display: flex;
  gap: var(--forecast-dashboard-gap);
  width: 100%;
}

.sunrise-sunset {
  flex: 5;
  display: flex;
  justify-content: space-around;
  gap: 20%;
  align-items: center;
  background: var(--sunrise-sunset-background);
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  padding: 1rem;
}

.sunrise-sunset-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sunrise-sunset-time {
  font-size: 2rem;
}

.sunrise-sunset-text {
  font-size: 1rem;
  font-weight: 500;
}

.sunrise-sunset-icon {
  width: 3rem;
}

#sunrise::after {
  content: 'am';
  font-size: 1rem;
}

#sunset::after {
  content: 'pm';
  font-size: 1rem;
}

.uv-card {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
}

.uv-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
}

.uv-number {
  font-size: 3rem;
}

.uv-text {
  font-weight: 600;
  font-size: 1rem;
  text-wrap: nowrap;
}

.uv-icon {
  width: 5rem;
}

.uv-low {
  color: hsl(100, 100%, 43%);
}

.uv-moderate {
  color: hsl(55, 100%, 43%);
}

.uv-high {
  color: hsl(35, 100%, 43%);
}

.uv-very-high {
  color: hsl(15, 100%, 43%);
}

.uv-extreme {
  color: hsl(292, 100%, 43%);
}

.forecast-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--credit-color);
}
